.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-yellow {
  background-color: #ffc107;
  color: black;
}

.btn-blue {
  background-color: #0d6efd;
  color: white;
}

.bg-teal {
  background-color: #20c997;
}
